div#h-card .col-auto:nth-of-type(1) {
    padding-left: 3rem;
}
div#h-card .col-auto:nth-of-type(2) {
    border-left: 5px solid #fff;
}
@media only screen and (max-width : 627px) {
    div#h-card .col-auto:nth-of-type(2) {
        padding-left: 2.8rem;
    }
}