#brand-logo {
  font-size: 34px;
}

#app-navbar {
  background: linear-gradient(120deg, #00e4d0, #5983e8);
}

#sub-title {
  font-family: 'Ubuntu';
  font-size: 28px;
  color: #522221;
  margin-bottom: 0;
}

#title-section {
  margin-left: 4%;
  margin-right: auto;
}

#sub-title-1 {
  font-family: 'Ubuntu';
  font-weight: lighter;
  font-style: italic;
  color: black;
  font-size: 20px;
  max-width: 95%;
  margin-top: -10px;
}

.btn-lg {
  font-family: 'Roboto';
}

