.card-header {
  font-family: 'Lithos Pro';
  background-color: #202151 !important;
  border-radius: 0 !important;
}

/* Remove gap between header and top of the browser */
#h-card {
  border: 0;
}

.mb-0 {
  color: white;
  font-size: 1.5rem;
}
/* iPads (portrait and landscape) and above ----------- */
@media only screen and (max-width : 991px) {
  /* Styles */
  #home-pot-pics {
    display: none;
  }
  #index-buttons {
    text-align: -webkit-center;
  }
}

/* Smartphones (portrait) ----------- */
@media only screen and (max-width : 450px) {
  /* Styles */
  .mb-0 {
    font-size: 1.2rem;
    text-align: center;
  }
}
footer {
  left: 0;
  background-color: #C4C4C4;
  width: 100%;
  position: fixed;
  bottom: 0;
}

#footer-navbar .nav-item {
  padding-left: 1em;
  padding-right: 1em;
}

#title-img {
  padding-top: 25px;
  max-width: 95%;
  display: block;
}

#button-front {
  font-family: 'Roboto';
  font-weight: bold;
  font-size: 20px;
  padding: 5px 40px;
  border-radius: 10px;
  background-color: #202151!important;
  display: block;
  margin-bottom: 25px;
}

#button-front-1 {
  font-family: 'Roboto';
  font-weight: bold;
  font-size: 20px;
  padding: 5px 40px;
  border-radius: 10px;
  background-color: #522221 !important;
  display: block;
  margin-bottom: 25px;
}

#pot-img {
  position: absolute;
  visibility: visible;
  left: 400px;
  bottom: 100px;
  z-index: 200;
  height: auto;
  width: 150px;
}

.sticky-top {
  background-color: #202151 !important;
}

.col-md-4 {
  padding: 1rem !important;
}

.col-md, .col-md-9 {
  padding: 1rem;
}

.navbar-brand {
  font-family: 'Lithos Pro';
  border-radius: 0;
}

.navbar-toggler-icon {
  background: url('../img/hamburger_icon_white.svg') !important;
  vertical-align: text-bottom !important;
  }

#author {
  font-family: 'Ubuntu';
  font-size: small;
  margin-left: 10%;
  margin-bottom: 0;
  font-style: italic;
  color: #828282;
}

.sidebar-chapter {
  padding: .4rem;
  font-family: 'Roboto';
  font-weight: bold;
  font-size: larger;
}

.sidebar-module {
  width: 100%;
}

.sidebar-section {
  margin-left: 5%;
  width: 100%;
}

.sidebar-subsection {
  width: 100%;
}

.sidebar-active > a {
  color: #000 !important;
}

.sidebar-chapter > a {
  color: #828282;
}

nav[data-toggle=toc] .nav>li>a {
  font-size: medium !important;
  font-weight: bold !important;
  padding: 4px 30px !important;
}

.col-md > h1 {
  font-family: 'Roboto';
  font-weight: bold;
  padding-bottom: 0.75rem;
}

.col-md > p {
  color: black;
}

.pagination .page-item .page-link {
    border: 1px solid #dee2e6 !important;
}

a.nav-link.active {
    display: none !important;
}
#eot-sidebar ul.nav.navbar-nav > li {
  display: none !important;
}
/*border TOC*/
@media only screen and (min-width : 768px) {
  /* Styles */
  /* Display a vertical border line between sidebar/content and between
   * both halves of an Excavation Context page only.
   * NOTE: May need to be fine-tuned by adding IDs for HTML tags
   * into the templates later on. */
  .container-fluid > .row>[class*='col-md']:nth-child(1):before,
  .container-fluid > .row > .col-md > .row >[class*='col-md']:nth-child(1):before {
    content: "";
    border-left: 2px solid #DDD;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
  }
}
@media only screen and (max-width : 767px) {
  /* Styles */
  #toc {
    display: block;
  }
  .sidebar-chapter > a {
    color: #828282;
  }
  footer {
    left: 0;
    background-color: #C4C4C4;
    width: 100%;
    position: relative !important;
    bottom: 0;
  }
}
.carousel-item {
  transition: transform .6s ease-in-out !important;
  height: 650px !important;
}
.carousel-indicators {
  margin: auto !important;
}
.carousel {
  width: 100% !important;
}
.row > .col > p {
  padding-left: inherit;
  font-family: sans-serif;
}

.figure-caption {
  text-align: center;
  padding-top: 1%;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  color: #000 !important;
}

h2#description {
  padding-bottom: 2%;
}

li.sidebar-subsection {
  list-style: none;
  font-size: initial;
  margin-left: 10%;
}
li.sidebar-subsection > a {
  color: #828282;
}
li.sidebar-subsection > a:hover {
  color: #563D7C;
}

.carousel-inner {
  max-height: 450px !important;
  background-color: #EBEBEB;
  padding: inherit;
  border-radius: 10px;
}

.mx-auto.d-block.img-fluid {
  max-height: 400px !important;
  box-shadow: 0px 0px 60px 40px lightgrey;
}

.text-light {
  font-family: 'Lithos Pro';
}

/* For centering tables in modals */
.table-modal-body .modal-pre-container-div {
  text-align: center;
  overflow-x: auto;
}

.table-modal-body pre {
  display: inline-block;
  text-align: left;
}

/* For displaying images alongside text, i.e. in the Archaeology Primer */
#archaeology-images .in-text-figure {
  padding-block-start: 0.5em;
  padding-block-end: 0.5em;
}

.in-text-img {
  max-width: calc(100% - 2rem);
}

#archaeology-images .figure-caption {
  white-space: normal; /* needs to be off or columns will not re-size
  properly, as the no-wrap on a long figcaption forces the column to
  expand in size accordingly. */
}

/* For page 5 of the Archaeology Primer specifically */
#site-grid-img {
  margin-block-start: 0.5em; /* Padding messes with the <map> tag on this page */
  margin-block-end: 0.5em;
}

/* For displaying images on pages 13, 14, and 23 in the Archaeology Primer*/
#changeable-image-table {
  text-align: center;
  vertical-align: middle;
  border: gray solid 2px;
  height: 500px;
  width: 100%;
}

#changeable-image-table img {
  max-width: calc(100% - 2rem);
  max-height: 450px;
}

#changeable-image-table .figure-caption {
  white-space: normal;
  font-size: 100%;
  color: black;
}

/* For making the page navigation div look better */
.page-navigation {
  padding-top: 0.5rem;
}

/* For displaying tables in Appendices A and B */
.table-container-div {
  overflow-x: auto;
}

/* Reduce the number of tables that overflow in Appendix A.
   Should produce decent results on screens ~360-400px in size. */
@media only screen and (max-width: 400px) {
  .appendix-a-table {
    font-size: 85%;
  }
}

/* carousel arrows controls start*/
.carousel-control-next-icon {
  background-image : url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%343A40' viewBox='0 0 8 8'%3E%3Cpath d='M1.5 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
}
.carousel-control-prev-icon {
  background-image : url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%343A40' viewBox='0 0 8 8'%3E%3Cpath d='M4 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
}
/* carousel arrows controls end*/
