.card-header {
  font-family: 'Lithos Pro';
  background-color: #202151 !important;
  border-radius: 0;
}

.mb-0 {
  color: white;
  font-size: 1.5rem;
}
/* iPads (portrait and landscape) and above ----------- */
@media only screen and (max-device-width : 991px) {
  /* Styles */
  #home-pot-pics {
    display: none;
  }
  #index-buttons {
    text-align: -webkit-center;
  }
}

/* Smartphones (portrait) ----------- */
@media only screen and (max-width : 450px) {
  /* Styles */
  .mb-0 {
    font-size: 1.2rem;
    text-align: center;
  }
}
footer {
  left: 0;
  background-color: #C4C4C4;
  width: 100%;
}

#footer-navbar .nav-item {
  padding-left: 1em;
  padding-right: 1em;
}

#title-img {
  padding-top: 25px;
  max-width: 95%;
  display: block;
}

#button-front {
  font-family: 'Roboto';
  font-weight: bold;
  font-size: 20px;
  padding: 5px 40px;
  border-radius: 10px;
  background-color: #202151!important;
  display: block;
  margin-bottom: 25px;
}

#button-front-1 {
  font-family: 'Roboto';
  font-weight: bold;
  font-size: 20px;
  padding: 5px 40px;
  border-radius: 10px;
  background-color: #522221 !important;
  display: block;
  margin-bottom: 25px;
}

#pot-img {
  position: absolute;
  visibility: visible;
  left: 400px;
  bottom: 100px;
  z-index: 200;
  height: auto;
  width: 150px;
}

.sticky-top {
  background-color: #202151 !important;
}

#toc .nav {
  display: inline-block;
}

.col-md-3 {
  padding: 1rem !important;
  max-width: 20% !important;
}

.col-md {
  padding: 1rem;
}

.navbar-brand {
  font-family: 'Lithos Pro';
  border-radius: 0;
}

.navbar-toggler-icon {
  background: url('../img/hamburger_icon_white.svg') !important;
  vertical-align: text-bottom !important;
  }

#author {
  font-family: 'Ubuntu';
  font-size: small;
  margin-left: 10%;
  font-style: italic;
  color: #828282;
}

.sidebar-chapter {
  padding: .4rem;
  font-family: 'Roboto';
  font-weight: bold;
  font-size: larger;
}

.sidebar-section {
  margin-left: 5%;
}

.sidebar-active > a {
  color: #000 !important;
}

.sidebar-chapter > a {
  color: #828282;
}

nav[data-toggle=toc] .nav>li>a {
  font-size: medium !important;
  font-weight: bold !important;
}

.col-md > h1 {
  font-family: 'Roboto';
  font-weight: bold;
  padding-bottom: 0.75rem;
}

.col-md > p {
  color: black;
}
.container-fluid {
  padding-right: 0px !important;
}

.pagination .page-item .page-link {
    border: 1px solid #dee2e6 !important;
}

a.nav-link.active {
    display: none !important;
}
ul.nav.navbar-nav > li {
  display: none !important;
}
/*border TOC*/
@media only screen and (min-width : 768px) {
  /* Styles */
  .row>[class*='col-md']:nth-child(n+1):before {
    content: "";
    border-left: 2px solid #DDD;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
  }
}
@media only screen and (max-width : 767px) {
  /* Styles */
  #toc {
    display: inline-block;
  }
  div#eot-sidebar.col-md-3 {
    max-width: 60% !important;
  }
  .sidebar-chapter > a {
    color: #828282;
    white-space: nowrap;
  }
}
.carousel-item {
  transition: transform .6s ease-in-out !important;
}
.carousel-indicators {
  margin: auto !important;
}
.carousel {
  width: 100% !important;
}
ol.carousel-indicators li,
ol.carousel-indicators li.active {
   width: 1rem !important;
   height: .2rem !important;
   margin: 0;
   border-radius: 0% !important;
   border: 0;
   background: transparent;
}

ol.carousel-indicators li {
   background: rgba(255,255,255,0.39);
   margin-left: .5rem;
   margin-right: .5rem;
}
.row > .col > p {
  padding-left: inherit;
  font-family: sans-serif;
}

.figure-caption {
  text-align: center;
  padding-top: 1%;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

h2#description {
  padding-bottom: 2%;
}

li.sidebar-subsection {
  list-style: none;
  font-size: initial;
  margin-left: 10%;
}
li.sidebar-subsection > a {
  color: #828282;
}
li.sidebar-subsection > a:hover {
  color: #563D7C;
}

/* .w-100 {
  width: auto !important;
} */
/* .carousel-inner {
  height: 650px !important;
} */
/* .carousel-inner img {
  object-fit: contain !important;
} */
/* img.d-block.img-fluid {
  min-height: -webkit-fill-available;
} */
/* .carousel-item {
  height:600px;
} */
/* .carousel .carousel-indicators li {
  border-radius: 0%;
  margin-bottom: -100px;
} */

/* img.d-block.w-100.img-fluid {
  height: -webkit-fill-available;
  padding-block-end: 25px;
} */
.text-light {
  font-family: 'Lithos Pro';
}