{# Jinja2 template for the CSS that gives the entire site a shared appearance
#}
<link rel="stylesheet" href="../../assets/css/mdb.min.css">
<link href="../../assets/css/styles.css" rel="stylesheet">
<link rel="stylesheet" href="../../assets/css/Lithos%20Pro.css">
<link rel="stylesheet" href="../../assets/css/Lithos%20Pro%20Extra.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Ubuntu">
<link rel="stylesheet" href="../../assets/css/gradient-navbar-1.css">
<link rel="stylesheet" href="../../assets/css/gradient-navbar.css">
<link href="../../assets/bootstrap/css/bootstrap.min.css" rel="stylesheet">
<link
    rel="stylesheet"
    href="https://cdn.rawgit.com/afeld/bootstrap-toc/v1.0.1/dist/bootstrap-toc.min.css"
/>