{# Jinja2 template for EOT navbar generation
## Added to page templates with {% include "navbar.html.jinja" %}
## -----------------------------------------------------------------------------
## Required parameters:
##  none
## -----------------------------------------------------------------------------
#}
<header class="navbar navbar-dark flex-column align-items-start bg-dark eot-navbar">
  <a class="navbar-brand">Excavating Occaneechi Town</a>
</header>
