{# Jinja2 template for EOT sidebar generation
## Added to page templates with {% include "sidebar.html.jinja" %}
## -----------------------------------------------------------------------------
## Required parameters:
##  chapters, this_chapter, this_module, this_section
## -----------------------------------------------------------------------------
##  chapters     : list of 'Chapter', defined in text_classes.py
##  this_chapter : Chapter, defined in text_classes.py
##  this_module  : Module, defined in text_classes.py
##  this_section : Section, defined in text_classes.py
## -----------------------------------------------------------------------------
#}
<div class="col-md-3 eot-sidebar">
  <nav class="nav flex-column">
  # for chapter in chapters:
    # if chapter is sameas this_chapter:
    <div class="sidebar-active sidebar-chapter"> <!-- Current chapter -->
      <a href="{{ chapter.href }}">{{ chapter.name }}</a>
      <ul class="nav"> <!-- Current chapter modules list -->
      # for module in chapter.modules:
        # if module is sameas this_module:
        <li class="sidebar-active sidebar-module">
          <a href="{{ module.href }}">{{ module.fullTitle }}</a>
          <p id="author">{{ module.author }}</p>
          <ul class="nav"> <!-- Current chapter section list-->
          # for section in module.sections:
            <li class="{% if section is sameas this_section %}sidebar-active {% endif %}sidebar-section">
              <a href="{{ section.href }}">{{ section.name }}</a>
              # if section.subsections:
                <ul>
                # for subsection in section.subsections:
                  <li class="{% if subsection is sameas this_section %}sidebar-active {% endif %}sidebar-subsection">
                    <a href="{{ subsection.href }}">{{ subsection.name }}</a>
                  </li>
                # endfor
                </ul>
              # endif
            </li>
          # endfor
          </ul>
        </li>
        # else:
        <li class="sidebar-module">
          <a href="{{ module.href }}">{{ module.shortTitle }}</a>
        </li>
        # endif
      # endfor
      </ul>
    </div>
    # else:
    <div class="sidebar-chapter">
      <a href="{{ chapter.href }}">{{ chapter.name }}</a>
    </div>
    # endif
  # endfor
  </nav>
</div>
