{# Jinja2 template for EOT sidebar generation
## Added to page templates with {% include "sidebar.html.jinja" %}
## -----------------------------------------------------------------------------
## Required parameters:
##  chapters, this_chapter, this_module, this_section
## -----------------------------------------------------------------------------
##  chapters          : list of 'Chapter', defined in text_classes.py
##  this_chapter_name : str, equal to chapter['name'] for the current chapter
##  this_module_name  : str, equal to module['long_name'] for the current module
##  this_section_name : str, equal to section['name'] for the current section
## -----------------------------------------------------------------------------
#}
<div class="col-md-3 eot-sidebar collapse" id="eot-sidebar">
  <nav id="toc" data-toggle="toc" class="nav flex-column">
  {% for chapter in chapters %}
    {% if chapter.name == this_chapter_name %}
    <div class="sidebar-active sidebar-chapter"> <!-- Current chapter -->
      <a href="{{ chapter.href }}">{{ chapter.name }}</a>
      <ul class="nav"> <!-- Current chapter modules list -->
      {% for module in chapter.children %}
        {% if module.long_name == this_module_name %}
        <li class="sidebar-active sidebar-module">
          <a href="{{ module.href }}">{{ module.long_name }}</a>
          {% if module.author %}<p id="author">{{ module.author }}</p>{% endif %}
          <ul class="nav"> <!-- Current chapter section list-->
          {% for section in module.children %}
            <li class="{% if section.name == this_section_name %}sidebar-active {% endif %}sidebar-section">
              <a href="{{ section.href }}">{{ section.name }}</a>
              {% if section.children %}
                <ul>
                {% for subsection in section.children %}
                  <li class="{% if subsection.name == this_section_name %}sidebar-active {% endif %}sidebar-subsection">
                    <a href="{{ subsection.href }}">{{ subsection.name }}</a>
                  </li>
                {% endfor %}
                </ul>
              {% endif %}
            </li>
          {% endfor %}
          </ul>
        </li>
        {% else %}
        <li class="sidebar-module">
          <a href="{{ module.href }}">{{ module.short_name }}</a>
        </li>
        {% endif %}
      {% endfor %}
      </ul>
    </div>
    {% else %}
    <div class="sidebar-chapter">
      <a href="{{ chapter.href }}">{{ chapter.name }}</a>
    </div>
    {% endif %}
  {% endfor %}
  </nav>
</div>
