{# Jinja2 template for Appendix A generation
## -----------------------------------------------------------------------------
## Included templates:
##  sidebar.html.jinja
##  pagination.html.jinja
## -----------------------------------------------------------------------------
## Required parameters:
##  this_section
## -----------------------------------------------------------------------------
##  this_section : Section, defined in text_classes.py
## -----------------------------------------------------------------------------
#}

{% import 'shared_elements/sidebar.html.jinja' as sidebar %}

{% extends "base.html.jinja" %}
{% block title %}{{ this_section['name'] }}{% endblock %}
{% block styles %}
    <link href="../../assets/css/textpage.css" rel="stylesheet">
    <link href="../../assets/css/modals.css" rel="stylesheet">
    {{ super() }}
    <link href="../../assets/css/datatables.min.css" rel="stylesheet">
{% endblock %}
{% block header %}
{{ super() }}
{% endblock %}
{% block page_body %}
    <div class="container-fluid">
      <div class="row">
        {{ sidebar.sidebar(chapters, this_chapter_name, this_module_name, this_section_name, True) }}
        <div class="col-md" id="text-chapter-contents">
          <script>
          // Part of workaround to make table display consistent
          // Set initial column class
          mainContentCol = document.getElementById("text-chapter-contents");
          sidebar = document.getElementById("eot-sidebar");
          if (sidebar.classList.contains("show")) {
            mainContentCol.classList.remove("col-md");
            mainContentCol.classList.add("col-md-8");
            mainContentCol.classList.add("col-lg-9");
          }
          </script>
          <h1>{{ this_section.name }}</h1>
            <div class="table-container-div" style="display:none;"> {# Table initially set to display:none to improve load speeds #}
              <table class="table table-striped table-bordered table-sm appendix-b-table">
              <thead class="thead-light">
                <tr>
                {%- for field in this_section.content[0].content.fields -%}
                  <th>{{ field }}</th>
                {%- endfor -%}
                </tr>
              </thead>
              <tbody>
                {%- for artifact in this_section.content[0].content.artifacts %}
                <tr>
                  {%- for field in this_section.content[0].content.fields %}<td>{{ artifact[field] }}</td>{% endfor -%}
                </tr>
                {% endfor %}
              </tbody>
              </table>
            </div>
          {% include "shared_elements/pagination.html.jinja" %}
        </div>
      </div>
    </div>
{% endblock %}
{% block site_interactivity %}
  <script src="../../assets/js/datatables.min.js"></script>
  <script>
  // Load DataTables for the table on this Appendix B page
  $("table").DataTable({
    dom: "Blfrtip",
    pageLength: 50,
    lengthMenu: [ [10, 25, 50, 100, 400, -1], [10, 25, 50, 100, 400, "All"] ],
    buttons: ["colvis", "csv"]
  });
  </script>
  <script>
  // Workaround to make table display consistent
  mainContentCol = document.getElementById("text-chapter-contents");
  sidebar = $("#eot-sidebar"); //jQuery should have loaded already
  sidebar.on("hidden.bs.collapse", function() {
    mainContentCol.classList.remove("col-md-8");
    mainContentCol.classList.remove("col-lg-9");
    mainContentCol.classList.add("col-md");
  });
  sidebar.on("show.bs.collapse", function() {
    mainContentCol.classList.remove("col-md");
    mainContentCol.classList.add("col-md-8");
    mainContentCol.classList.add("col-lg-9");
  });
  // Temporary solution for slow table loading
  $(".table-container-div").css("display", "");
  </script>
  {% include "shared_elements/generic_textpage_modal.html.jinja" %}
  <script src="../../assets/js/page-num-navigation.js"></script>
{% endblock %}
