{# Jinja2 template for EOT textpage (section) generation
## -----------------------------------------------------------------------------
## Included templates:
##  sidebar.html.jinja
##  pagination.html.jinja
## -----------------------------------------------------------------------------
## Required parameters:
##  this_section
## -----------------------------------------------------------------------------
##  this_section : Section, defined in text_classes.py
## -----------------------------------------------------------------------------
#}

{% import 'shared_elements/sidebar.html.jinja' as sidebar %}

{% extends "base.html.jinja" %}
{% block title %}{{ this_section['name'] }}{% endblock %}
{% block styles %}
    <link href="../../assets/css/lightgallery.min.css" rel="stylesheet">
    <link href="../../assets/css/textpage.css" rel="stylesheet">
    <link href="../../assets/css/modals.css" rel="stylesheet">
    {{ super() }}
{% endblock %}
{% block header %}
{{ super() }}
{% endblock %}
{% block page_body %}
    <div class="container-fluid">
      <div class="row">
        {{ sidebar.sidebar(chapters, this_chapter_name, this_module_name, this_section_name, True) }}
        <div class="col-md" id="text-chapter-contents">
          <h1>{{ this_section.name }}</h1>
          {% for content in this_section.content %}
            {% if content.type == "paragraph" %} {# Regular paragraph #}
            <p>{{ content.content }}</p>
            {% elif content.type == "map" %} {# Page 5 of the Primer #}
            {# The div and image classes are added to horizontally center the content on the page. #}
            <div class="text-center">
            {{ content.form }}
            {{ content.mapJs }}
            {{ content.map }}
            <img src="{{ content.mapImg }}" usemap="#squares" class="mx-auto d-block in-text-img" id="site-grid-img">
            <figcaption class="figure-caption">{{ content.mapImgCaption }}</figcaption>
            </div>
            {% elif content.type == "ul" %} {# Pages 13, 14, and 23 #}
            {{ content.content }}
            <table id="changeable-image-table">
            <td id="changeable-image-td">
            <div id="no-image-caption">{{ content.noImageCaption }}</div>
            </td>
            </table>
            <script>
              function activateList() {
                changeableImageTable = document.getElementById('changeable-image-table');
                changeableImageTd = document.getElementById('changeable-image-td');
                ul = document.getElementById('text-chapter-contents').getElementsByTagName('ul')[0];
                aTags = ul.getElementsByTagName('a');
                // Insert <figure> tags for each clickable item
                for (let a of aTags) {
                  imgFilePath = a.getAttribute('data-image-path');
                  imgCaption = a.getAttribute('data-image-caption');

                  figureA = document.createElement('a');
                  figureA.innerHTML = `
                    <figure class="figure d-block">
                      <img src="${imgFilePath}">
                      <figcaption class="figure-caption">${imgCaption}</figcaption>
                    </figure>
                  `;
                  figureA.classList.add("d-none");
                  figureA.classList.add("a-img");
                  figureA.setAttribute("href", imgFilePath);
                  figureA.setAttribute("data-src", imgFilePath);
                  figureA.setAttribute("data-sub-html", imgCaption);
                  figureA.id = "figure" + a.innerHTML;
                  changeableImageTd.appendChild(figureA);
                }
                // Ensure the displayed figure updates upon clicking a list item
                figureAs = changeableImageTd.getElementsByTagName("a");
                noImageCaption = document.getElementById("no-image-caption");
                for (let a of aTags) {
                  a.onclick = function() {
                    noImageCaption.classList.add("d-none");
                    figureA = document.getElementById("figure" + a.innerHTML);
                    for (let otherFigureA of figureAs) {
                      otherFigureA.classList.add("d-none");
                    }
                    figureA.classList.remove("d-none");
                  }
                }
              }

              activateList();
            </script>
            {% endif %}
          {% endfor %}
          {% if this_section.image %} {# In-text images that are on most Primer pages #}
          <div id="archaeology-images">
            <a href="{{ this_section.image.path }}">
              <figure class="figure d-block in-text-figure">
                <img src="{{ this_section.image.path }}" class="mx-auto d-block img in-text-img" alt="{{ this_section.image.caption }}">
                <figcaption class="figure-caption">{{ this_section.image.caption }}</figcaption>
              </figure>
            </a>
          </div>
          {% endif %}
          {% include "shared_elements/pagination.html.jinja" %}
        </div>
      </div>
    </div>
{% endblock %}
{% block site_interactivity %}
  {% include "shared_elements/generic_textpage_modal.html.jinja" %}
  <script src="../../assets/js/page-num-navigation.js"></script>
{% endblock %}
