{# Jinja2 basic template for EOT pages
## Extend with other template files by using {% extends "base.html.jinja" %}
## -----------------------------------------------------------------------------
## Constituent blocks:
## title     : should contain string to precede " - Excavating Occaneechi Town"
## styles    : should contain links to all stylesheets for the page
## header    : should contain the page's navbar
## page_body : should contain the page's specific content, including the
##             sidebar, any images or text, etc.
## -----------------------------------------------------------------------------
## Required parameters:
##  none
## -----------------------------------------------------------------------------
#}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>{% block title %}{% endblock %} - Excavating Occaneechi Town</title>
    {% block styles %}
    {% include "shared_elements/common_css_and_fonts.html.jinja" %}
    {% endblock %}
  </head>

  <body data-spy="scroll" data-target="#toc">
    {% block header %}
    <header>
      <div class="card" id="h-card">
        <div class="card-header">
          <h5 class="mb-0"><strong><button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#eot-sidebar" aria-expanded="false" aria-controls="eot-sidebar" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button><a href="../index.html" style="color:inherit">Excavating Occaneechi Town</a></strong><br></h5>
        </div>
      </div>
    </header>
    {% endblock %}
    {% block page_body %}{% endblock %}

    <!-- Bootstrap core JavaScript -->
    <script src="../../assets/js/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>
    <script src="../../assets/js/bootstrap-toc.min.js"></script>
    {% block site_interactivity %}{% endblock %}
  </body>
</html>
