{# Jinja2 template for EOT excavation element page generation (w/ description)
## -----------------------------------------------------------------------------
## Included templates:
##  sidebar.html.jinja
##  pagination.html.jinja
## -----------------------------------------------------------------------------
## Required parameters:
##  excavation_element
## -----------------------------------------------------------------------------
##  excavation_element : ExcavationElement, defined in excavation.py
## -----------------------------------------------------------------------------
#}
{% extends "base.html.jinja" %}
{% block title %}{{ excavation_element['name'] }}{% endblock %}
{% block styles %}
    <link href="../../assets/css/lightgallery.min.css" rel="stylesheet">
    <link href="../../assets/css/excavation_element.css" rel="stylesheet">
    <link href="../../assets/css/modals.css" rel="stylesheet">
    {{ super() }}
{% endblock %}
{% block header %}
    <header>
      <div class="card" id="h-card">
        <div class="card-header">
          <h5 class="mb-0"><strong><button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#eot-sidebar" aria-expanded="false" aria-controls="eot-sidebar" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button><a href="../index.html" style="color:inherit">Excavating Occaneechi Town</a></strong><br></h5>
        </div>
        <div class="row bg-secondary">
        <div class="col-auto">
          <a href="excavations.html" class="text-light">Return to map view</a>
          {% if excavation_element.artifacts_href != None %}| <a href="{{ excavation_element.artifacts_href }}" class="text-light">View Artifacts in Appendix A</a> {% endif %}
        </div>
      </div>
      </div>
    </header>
{% endblock %}
{% block page_body %}
    <div class="container-fluid">
      <div class="row">
        {% include "shared_elements/sidebar_collapsed.html.jinja" %}
        <div class="col-md" style="overflow-y: scroll;">
          <div class="row">
            <div class="col-md align-items-center">
              {% if excavation_element.figures|length > 1 %}{# Generate a carousel if there's more than one figure #}
              <div id="carouselFigures" class="carousel slide p-3" data-ride="carousel">
                <ol class="carousel-indicators">
                  {% for figure in excavation_element.figures %}
                  <li data-target="#carouselFigures" data-slide-to="{{ loop.index0 }}" class="bg-secondary{% if loop.first %} active{% endif %}"></li>
                  {% endfor %}
                </ol>
                <div id="carousel-zoom" class="carousel-inner">
                  {% for figure in excavation_element.figures %}
                  <div class="carousel-item{% if loop.first %} active{% endif %}">
                    <a href="{{ figure.img_path }}" >
                    <figure class="figure d-block">
                      <img src="{{ figure.img_path }}" class="mx-auto d-block img-fluid" alt="Figure {{ figure.figure_num }}. {{ figure.caption }}">
                      <figcaption class="figure-caption">Figure {{ figure.figure_num }}. {{ figure.caption }}</figcaption>
                    </figure>
                    </a>
                  </div>
                  {% endfor %}
                </div>
                <a class="carousel-control-prev" href="#carouselFigures" role="button" data-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselFigures" role="button" data-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="sr-only">Next</span>
                </a>
              </div>
              {% else %}{# Generate a single figure if there's only one #}
              <div id="carousel-zoom">
              <a href="{{ excavation_element.figures[0].img_path }}">
              <figure class="figure d-block">
                <img src="{{ excavation_element.figures[0].img_path }}" class="mx-auto d-block img-fluid" alt="Figure {{ excavation_element.figures[0].figure_num }}. {{ excavation_element.figures[0].caption }}">
                <figcaption class="figure-caption">Figure {{ excavation_element.figures[0].figure_num }}. {{ excavation_element.figures[0].caption }}</figcaption>
              </figure></a></div>
              {% endif %}
              <div class="row">
                <div class="col">
                  <p>Type: {{ excavation_element.info.type }}</p>
                  <p>Dimensions</p>
                  <p>&emsp;Length: {{ excavation_element.info.dimensions.length }}</p>
                  <p>&emsp;Width: {{ excavation_element.info.dimensions.width }}</p>
                  <p>&emsp;Depth: {{ excavation_element.info.dimensions.depth }}</p>
                  <p>Volume: {{ excavation_element.info.volume }}</p>
                  <p>Area: {{ excavation_element.info.area }}</p>
                </div>
                <div class="col d-flex align-items-center justify-content-center">
                  <img src="{{ excavation_element.mini_map_path }}" class="img-fluid" alt="Excavation minimap">
                </div>
                <div class="col">
                  <p>Related Elements:</p>
                  {% for e in excavation_element.related_elements %}
                  <p><a href="{{ e.href }}">{{ e.name }}</a></p>
                  {% endfor %}
                </div>
              </div>
            </div>
            <div class="col-md" id='text-chapter-contents'>
              <h1>{{ excavation_element.name }}</h1>
              <h2>Description</h2>
            {% for c in excavation_element.content['content']['content'] %}
              {% if c['type'] == "author" %}
              <h5>{{ c['content'] }}</h5>
              {% elif c['type'] == "italic-title" %}
              <p><i>{{ c['content'] }}</i></p>
              {% elif c['type'] == "paragraph" %}
              <p>{{ c['content'] }}</p>
              {% endif %}
            {% endfor %}
            </div>
          </div>
          {% include "shared_elements/pagination.html.jinja" %}
        </div>
      </div>
    </div>
{% endblock %}
{% block site_interactivity %}
  {% include "shared_elements/generic_textpage_modal.html.jinja" %}
  <script src="../../assets/js/page-num-navigation.js"></script>
{% endblock %}
