{# Jinja2 template for EOT figure page generation
## -----------------------------------------------------------------------------
## Included templates:
##  navbar.html.jinja
##  sidebar.html.jinja
## -----------------------------------------------------------------------------
## Required parameters:
##  figure
## -----------------------------------------------------------------------------
##  figure : Figure, defined in figure.py
## -----------------------------------------------------------------------------
#}
{% extends "base.html.jinja" %}
{% block title %}Figure {{ figure['figure_num'] }}{% endblock %}
{% block styles %}
    <link href="css/figure.css" rel="stylesheet">
    {{ super() }}
{% endblock %}
{% block header %}{% endblock %}
{% block page_body %}
    <div class="container-fluid">
      <div class="row">
        {% include "shared_elements/sidebar.html.jinja" %}
        <div class="col-md" style="overflow-y: scroll;">
          ## !!TODO!! image map resizing
          <figure class="figure">
            <img src="{{ path_table.get_rel_path(this_path, path_table.get_path(figure['img_path'])) }}" class="img-fluid" alt="Responsive image">
            <figcaption class="figure-caption">Figure {{ figure['figure_num'] }}. {{ figure['caption'] }}</figcaption>
          </figure>
          ## !!TODO!! pagination
        </div>
      </div>
    </div>
{% endblock %}
