{# Jinja2 template for EOT figure page generation
## -----------------------------------------------------------------------------
## Included templates:
##  navbar.html.jinja
##  sidebar.html.jinja
## -----------------------------------------------------------------------------
## Required parameters:
##  figure
## -----------------------------------------------------------------------------
##  figure : Figure, defined in figure.py
## -----------------------------------------------------------------------------
#}

{% import 'shared_elements/sidebar.html.jinja' as sidebar %}

{% extends "base.html.jinja" %}
{% block title %}Figure {{ figure['figure_num'] }}{% endblock %}
{% block styles %}
    <link href="../../assets/css/figure.css" rel="stylesheet">
    {{ super() }}
{% endblock %}
{% block header %}{{ super() }}{% endblock %}
{% block page_body %}
    <div class="container-fluid">
      <div class="row">
        {{ sidebar.sidebar(chapters, this_chapter_name, this_module_name, this_section_name, True) }}
        <div class="col-md">
          ## !!TODO!! image map resizing
          <figure class="figure">
            <img src="{{ path_table.get_rel_path(this_path, path_table.get_path(figure['img_path'])) }}" class="img-fluid" alt="Responsive image">
            <figcaption class="figure-caption">Figure {{ figure['figure_num'] }}. {{ figure['caption'] }}</figcaption>
          </figure>
          ## !!TODO!! pagination
        </div>
      </div>
    </div>
{% endblock %}
