<html><head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Excavating Occeaneechi Town Revamped!</title>
    <link rel="stylesheet" href="../assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="../assets/css/Lithos%20Pro.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Ubuntu">
    <link rel="stylesheet" href="../assets/css/gradient-navbar.css">
    <link rel="stylesheet" href="../assets/css/mdb.min.css">
    <link rel="stylesheet" href="../assets/css/styles.css">
</head>

<body style="background: url(&quot;../assets/img/bg%201.png&quot;) top / auto no-repeat;">
    <div class="card" id="h-card">
        <div class="card-header">
            <h5 class="mb-0"><strong>Excavating Occaneechi Town</strong><br></h5>
        </div>
    </div>
    <div>
        <section id="title-section"><img id="title-img" class="img-fluid" src="../assets/img/titlepng.png">
            <p id="sub-title" class="d-flex p-2">Archaeology of an Eighteenth-Century Indian Village in North Carolina</p>
            <p id="sub-title-1" class="d-flex p-2">By R.P. Stephen Davis, Jr., Patrick Livingood, H. Trawick Ward, and Vincas Steponaitis with Foreword by Lawrence A. Dunmore III</p>
        </section>
    </div>
    <div class="container">
        <div id="index-buttons" class="row">
            <div class="col-lg-6 col-sm">
              <a href="{{ children[0].href }}"><button class="btn btn-primary btn btn-lg btn-rounded" id="button-front" role="button">Getting Started</button></a>
              <a href="{{ children[1].href }}"><button class="btn btn-primary btn btn-lg btn-rounded"  id="button-front" role="button">Archeology Primer</button></a>
              <a href="{{ children[2].href }}"><button class="btn btn-primary btn btn-lg btn-rounded" id="button-front-1" role="button">Introduction</button></a>
              <a href="{{ children[3].href }}"><button class="btn btn-primary btn btn-lg btn-rounded" id="button-front-1" role="button">Contents</button></a>
              <a href="{{ children[4].href }}"><button class="btn btn-primary btn btn-lg btn-rounded" id="button-front-1" role="button">Background</button></a>
            </div>
            <div id="home-pot-pics" class="col-lg-1"><img src="../assets/img/pot%201.png" style="margin-left: -200px; margin-top: 170px; height: auto; width: 200px"></div>
        <div class="col-lg-4 col-sm">
          <a href="{{ children[5].href }}"><button class="btn btn-primary btn btn-lg btn-rounded" id="button-front-1" role="button">Excavations</button></a>
          <a href="{{ children[6].href }}"><button class="btn btn-primary btn btn-lg btn-rounded" id="button-front-1" role="button">Artifacts</button></a>
          <a href="{{ children[7].href }}"><button class="btn btn-primary btn btn-lg btn-rounded" id="button-front-1" role="button">Food Remains</button></a>
          <a href="{{ children[8].href }}"><button class="btn btn-primary btn btn-lg btn-rounded" id="button-front-1" role="button">Interpretations</button></a>
          <a href="{{ children[9].href }}"><button class="btn btn-primary btn btn-lg btn-rounded" id="button-front" role="button">Electronic Dig</button></a>
        </div>
        <div id="home-pot-pics" class="col-lg-1"><img src="../assets/img/pipe%201.png" style="margin-left: -50px; margin-top: 10px; height: auto; width: 150px"></div>
    </div>
    </div>
    <div></div>
    <footer>
        <nav class="navbar navbar-light navbar-expand-md order-1">
            <div class="container-fluid"><a class="navbar-brand flex-row" href="#" style="font-size: 1rem">Copyright 1998, 2003, 2020 RLA at UNC.</a>
                <div class="collapse navbar-collapse flex-row-reverse" id="navcol-1">
                    <ul class="nav navbar-nav" id="footer-navbar">
                        <li class="nav-item"><a class="nav-link active" href="#">About</a></li>
                        <li class="nav-item"><a class="nav-link" href="#">Guide</a></li>
                        <li class="nav-item"><a class="nav-link" href="#">Book</a></li>
                        <li class="nav-item"><a class="nav-link" href="{{ children[5].href }}">Excavations</a></li>
                        <li class="nav-item"><a class="nav-link" href="#">Downloads</a></li>
                    </ul>
            </div>
            </div>
        </nav>
    </footer>
    <script src="../assets/js/jquery.min.js"></script>
    <script src="../assets/js/bootstrap.min.js"></script>


</body></html>
