<html><head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Excavating Occeaneechi Town Revamped!</title>
    <link rel="stylesheet" href="../assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../assets/css/Lithos%20Pro.css">
    <link rel="stylesheet" href="../assets/css/Lithos%20Pro%20Extra.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Ubuntu">
    <link rel="stylesheet" href="../assets/css/gradient-navbar-1.css">
    <link rel="stylesheet" href="../assets/css/gradient-navbar.css">
    <link rel="stylesheet" href="../assets/css/mdb.min.css">
    <link rel="stylesheet" href="../assets/css/styles.css">
</head>

<body style="background: url(&quot;assets/img/bg%201.png&quot;) top / auto no-repeat;">
    <div class="card" id="h-card">
        <div class="card-header">
            <h5 class="mb-0"><strong>Excavating Occeaneechi Town</strong><br></h5>
        </div>
    </div>
    <div>
        <section id="title-section"><img id="title-img" class="img-fluid" src="assets/img/titlepng.png">
            <p id="sub-title" class="d-flex p-2">Archaeology of an Eighteenth-Century Indian Village in <strong>&nbsp;</strong>North Carolina</p>
            <p id="sub-title-1" class="d-flex p-2">By R.P. Stephen Davis, Jr., Patrick Livingood, H. Trawick Ward, and Vincas Steponaitis with Foreword by Lawrence A. Dunmore III</p>
        </section>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-sm">
              <a class="btn btn-primary btn btn-lg btn-rounded" href="{{ links['Getting Started'] }}" id="button-front" role="button">Getting Started</a>
              <a class="btn btn-primary btn btn-lg btn-rounded" href="{{ links['Archaeology Primer'] }}" id="button-front" role="button">Archeology Primer</a>
              <a class="btn btn-primary btn btn-lg btn-rounded" href="{{ links['Introduction'] }}" id="button-front-1" role="button">Introduction</a>
              <a class="btn btn-primary btn btn-lg btn-rounded" href="{{ links['Contents'] }}" id="button-front-1" role="button">Contents</a>
              <a class="btn btn-primary btn btn-lg btn-rounded" href="{{ links['Background'] }}" id="button-front-1" role="button">Background</a>
            </div>
            <div class="col-lg-1"><img src="assets/img/pot%201.png" style="margin-left: -200px; margin-top: 170px; height: auto; width: 200px"></div>
        <div class="col-lg-4 col-sm">
          <a class="btn btn-primary btn btn-lg btn-rounded" href="{{ links['Excavations'] }}" id="button-front-1" role="button">Excavations</a>
          <a class="btn btn-primary btn btn-lg btn-rounded" href="{{ links['Artifacts'] }}" id="button-front-1" role="button">Artifacts</a>
          <a class="btn btn-primary btn btn-lg btn-rounded" href="{{ links['Food Remains'] }}" id="button-front-1" role="button">Food Remains</a>
          <a class="btn btn-primary btn btn-lg btn-rounded" href="{{ links['Interpretations'] }}" id="button-front-1" role="button">Interpretations</a>
          <a class="btn btn-primary btn btn-lg btn-rounded" href="{{ links['Electronic Dig'] }}" id="button-front" role="button">Electronic Dig</a>
        </div>
        <div class="col-lg-1"><img src="assets/img/pipe%201.png" style="margin-left: -50px; margin-top: 10px; height: auto; width: 150px"></div>
    </div>
    </div>
    <div></div>
    <footer>
        <nav class="navbar navbar-light navbar-expand-md order-1">
            <div class="container-fluid"><a class="navbar-brand flex-row" href="#" style="font-size: 1rem">Copyright 1998, 2003, 2020 RLA at UNC.</a><button data-toggle="collapse" class="navbar-toggler" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse flex-row-reverse" id="navcol-1">
                    <ul class="nav navbar-nav" id="footer-navbar">
                        <li class="nav-item"><a class="nav-link active" href="#">About</a></li>
                        <li class="nav-item"><a class="nav-link" href="#">Guide</a></li>
                        <li class="nav-item"><a class="nav-link" href="#">Book</a></li>
                        <li class="nav-item"><a class="nav-link" href="{{ links['Excavations'] }}">Excavations</a></li>
                        <li class="nav-item"><a class="nav-link" href="#">Downloads</a></li>
                    </ul>
            </div>
            </div>
        </nav>
    </footer>
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>


</body></html>
