## Jinja2 template for EOT textpage (section) generation
## -----------------------------------------------------------------------------
## Included templates:
##  navbar.html.jinja
##  sidebar.html.jinja
## -----------------------------------------------------------------------------
## Required parameters:
##  page
## -----------------------------------------------------------------------------
##  page : class with the following properties
##      title      : str
##      number     : str
##      paragraphs : list of str
## -----------------------------------------------------------------------------
{% extends "base.html.jinja" %}

{% block title %}{{ page.title }}{% endblock %}

{% block styles %}
  {{ super() }}
  <link href="textpage.css" rel="stylesheet">
{% endblock %}

{% block pagebody %}
  {% include "navbar.html.jinja %}
  <div class="container-fluid">
    <div class="row">
      {% include "sidebar.html.jinja %}
      <div class="col-md" style="overflow-y: scroll;">
        <h1>{{ page.title }}</h1>
        # for paragraph in page.paragraphs:
        <p>{{ paragraph }}</p>
        # endfor
        ## !!TODO!! page navigation
      </div>
    </div>
  </div>
{% endblock %}
