{# Jinja2 template for EOT textpage (section) generation
## -----------------------------------------------------------------------------
## Included templates:
##  sidebar.html.jinja
##  pagination.html.jinja
## -----------------------------------------------------------------------------
## Required parameters:
##  this_section
## -----------------------------------------------------------------------------
##  this_section : Section, defined in text_classes.py
## -----------------------------------------------------------------------------
#}

{% import 'shared_elements/sidebar.html.jinja' as sidebar %}

{% extends "base.html.jinja" %}
{% block title %}{{ this_section['name'] }}{% endblock %}
{% block styles %}
    <link href="../../assets/css/lightgallery.min.css" rel="stylesheet">
    <link href="../../assets/css/textpage.css" rel="stylesheet">
    <link href="../../assets/css/modals.css" rel="stylesheet">
    {{ super() }}
{% endblock %}
{% block header %}
{{ super() }}
{% endblock %}
{% block page_body %}
    <div class="container-fluid">
      <div class="row">
        {{ sidebar.sidebar(chapters, this_chapter_name, this_module_name, this_section_name, True) }}
        <div class="col-md" id="text-chapter-contents">
          <h1>{{ this_section.name }}</h1>
          {% for content in this_section.content %}
            {% if content.type == "paragraph" %}
            <p>{{ content.content }}</p>
            {% elif content.type == "italic-title" %}
            <p><i>{{ content.content }}</i></p>
            {% elif content.type == "div" %}
            <div>{{ content.content }}</div>
            {% elif content.type == "table" %}
            <p>{{ content.content }}</p>
            {% endif %}
          {% endfor %}
          {% include "shared_elements/pagination.html.jinja" %}
        </div>
      </div>
    </div>
{% endblock %}
{% block site_interactivity %}
  {% include "shared_elements/generic_textpage_modal.html.jinja" %}
  <script src="../../assets/js/page-num-navigation.js"></script>
{% endblock %}
